#sliding_bg {
    width:10000px; height: 10000px; position: absolute; 
    
    background-image: url('./images/bgs/bg_lightsoutrelight.png'); background-repeat: repeat; background-position: 33.5% 50%;

    animation: slidingLOL backwards 60s linear infinite;
}

@keyframes slidingLOL {
    from { transform: translate(0, 0); }
    to { transform: translate(0, -500px); }

}